<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>

<!-- nav -->
  <%- include('./partials/nav') %>

  <h1>Full Menu</h1>

<!-- mains -->
<h2>Mains</h2>

  <ul>
    <% menu.forEach(item => { %>
        <% if (item.category === 'mains') { %>

        <li>
          <h2>         <%= item.name %>            </h2>
          <p>Price:  $ <%= item.price %>           </p>
          <p>Rating:   <%= item.rating %> stars    </p>
          <p>          <%= item.details %>         </p>
        </li>
            <% } %>
      <% }) %>
   
  </ul>

<!-- desserts -->
<h2>Desserts</h2>

  <ul>
    <% menu.forEach(item => { %>
        <% if (item.category === 'desserts') { %>

        <li>
          <h2>         <%= item.name %>            </h2>
          <p>Price:  $ <%= item.price %>           </p>
          <p>Rating:   <%= item.rating %> stars    </p>
          <p>          <%= item.details %>         </p>
        </li>
            <% } %>
      <% }) %>
   
  </ul>

  
<!-- sides -->
<h2>sides</h2>

  <ul>
    <% menu.forEach(item => { %>
        <% if (item.category === 'sides') { %>

        <li>
          <h2>         <%= item.name %>            </h2>
          <p>Price:  $ <%= item.price %>           </p>
          <p>Rating:   <%= item.rating %> stars    </p>
          <p>          <%= item.details %>         </p>
        </li>
            <% } %>
      <% }) %>
   
  </ul>



</body>
</html>